:root{
  --green: #37B04C
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* overrides Mui Selected */
.Mui-selected {
  background-color: #D2D2D2 !important;
  color: var(--green);
}

.Mui-selected span {
  font-weight: bold;
}

/* override date range */
.rdrDefinedRangesWrapper{
  display: none;
}